AF2.5_EjerciciosVariosDeXSD_LauraRubioGallardo/Ejercicio17_LongitudMinimaMaximaClave.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="fichas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="clave">
                                <!-- lo ponemos aqui por que solo se puede usar para este -->
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <!-- hay que poner si o si * para que pueda repetirse mas veces -->
                                        <xs:pattern value="[a-zA-Z0-9]*"/>
                                        <xs:minLength value="4"/>
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
